VITE_API_URL=Enter_your_url
VITE_GITHUB_TOKEN=ghp_your_personal_access_token_here

# EmailJS Credentials
VITE_EMAILJS_SERVICE_ID=service_ubib77f
VITE_EMAILJS_PUBLIC_KEY=grfuLgsZk39gcdSc8
VITE_EMAILJS_TEMPLATE_ID=template_hackord

# Agora Credentials
VITE_AGORA_APP_ID=your_agora_app_id_here
AGORA_APP_CERTIFICATE=your_agora_app_certificate

VITE_GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=your_github_client_id_here
